@import "styles/theme.scss";

.title {
  color: $Primary;
  text-align: center;
  font-size: 2rem;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subTitle {
  color: $Primary;
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}

.description {
  color: $Paragraph;
  padding-left: 1rem;
}
.list {
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.genre {
  list-style: none;
  color: $Accent;
  text-transform: capitalize;
  border: 1px solid $Accent;
  padding: 0 0.5rem;
  border-radius: 1rem;
  user-select: none;
}

.sinopsis {
  grid-column: span 2;
  padding: 0.5rem;
  & > p {
    margin: 0.2rem 0;
    max-height: 100px;
    overflow-y: scroll;
  }
}
