@import "styles/theme.scss";
.container {
  text-align: center;
  color: $Primary;
  padding: 0 1em;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0;
  li {
    list-style: none;
  }
}
.title {
  color: $Primary;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}
.description {
  color: $Paragraph;
  margin: 0;
}

.button {
  border: none;
  cursor: pointer;
  background: $Accent;
  font-size: 20px;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 30px;
  color: $Secondary;
  border: 1px solid $Accent;
  &:hover {
    background: $Secondary;
    color: $Accent;
  }
}
.link {
  color: $Accent;
}

@media (max-width: 425px) {
  .list {
    grid-template-columns: 1fr;
  }
}
