@import "styles/theme.scss";

$Field-Shadow: 4px 8px 16px #00000010;

.container {
  text-align: center;
  color: $Primary;
  padding: 0 1em;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  place-items: center;
  gap: 1rem;
  padding: 0;
}
.title {
  color: $Primary;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}
.description {
  color: $Paragraph;
  margin: 0;
}

.button {
  border: none;
  cursor: pointer;
  background: $Accent;
  font-size: 20px;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 30px;
  color: $Secondary;
  border: 1px solid $Accent;
  &:hover {
    background: $Secondary;
    color: $Accent;
  }
}
.link {
  color: $Accent;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0 0;
}

.input {
  border: none;
  text-align: center;
  padding: 0.3rem 0;
  border-radius: 5px;
  box-shadow: $Field-Shadow;
  &::placeholder {
    text-align: center;
    color: $Accent;
    user-select: none;
  }
}

.select {
  border: none;
  color: $Primary;
  box-shadow: $Field-Shadow;
  text-transform: capitalize;
}
