@import "styles/theme.scss";

.container {
  background: $Secondary;
  width: 520px;
  padding: 5px 15px;
  border-radius: 5px;
}
.container_drag {
  @extend .container;
  border: 3px dashed cyan;
  height: 350px;
  width: 520px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid $Accent;
  color: $Accent;
  background: $Secondary;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: $Secondary;
    background: $Accent;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    label {
      text-transform: capitalize;
      color: $Primary;
    }
    input {
      border: none;
      text-align: center;
      &::placeholder {
        text-align: center;
        color: $Accent;
        user-select: none;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.button {
  margin: 0.5rem 0.5rem 0rem;
  background: $Secondary;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid $Accent;
  color: $Accent;
  cursor: pointer;
  max-width: 50%;
  flex: 1;
  user-select: none;
  &:hover {
    color: $Secondary;
    border: 1px solid $Secondary;
    background: $Accent;
  }
}
.button_delete {
  @extend .button;
  background: red;
  color: #fff;
  border: 1px solid red;
  &:hover {
    background: #fff;
    color: red;
    border: 1px solid red;
  }
}
.panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
