@import "../../styles/theme.scss";

.background {
  background: $Secondary;
}
.list {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}
.title {
  text-align: center;
  margin: 0.5rem 0rem;
  color: $Primary;
}
.description {
  text-align: center;
  margin: 0;
}
