.container {
  display: grid;
  grid-template-columns: 170px 1fr;
  gap: 1rem;
  margin: 0.5rem 0;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
}
.cover {
  margin: 0.5rem 0;
  border-radius: 5px;
  overflow: hidden;
  height: 130px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
}
.data {
  & h2 {
    margin: 0.5rem 0;
    font-weight: 500;
  }
  & p {
    margin: 0.2rem 0;
    font-size: 14px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
}
.steam {
  margin-right: 2rem;
}
