@import "styles/theme.scss";

.subTitle {
  color: $Primary;
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}
.description {
  color: $Paragraph;
  grid-area: comentary;
  margin: 0.5rem;
  padding: 0.3rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  max-height: 160px;
  overflow-y: auto;
  border: 1px solid #0000001a;
  box-shadow: 4px 6px 8px #00000010;
}
.card {
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "score state watched"
    "score comentary comentary";
  place-items: center;
  gap: 0 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 730px;
  border: 1px solid #0000001a;
  box-shadow: 4px 8px 16px #0000001a;
  border-radius: 5px;
  &:hover {
    .editIcon {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.comentary {
  grid-area: comentary;
  width: 100%;
}

.score {
  grid-area: score;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.watched {
  grid-area: watched;
}
.stateStamp_viendo {
  grid-area: state;
  text-transform: uppercase;
  margin: 0.5rem 0;
  padding: 0.1rem 1rem;
  border: 6px solid #1bbe9e;
  border-radius: 3rem;
  font-weight: 800;
  font-size: 1.3rem;
  color: #1bbe9e;
  user-select: none;
}

.stateStamp_completo {
  @extend .stateStamp_viendo;
  border: 6px solid #37e;
  color: #37e;
}

.stateStamp_dropeada {
  @extend .stateStamp_viendo;
  border: 6px solid #800000;
  color: #800000;
}

.episodes {
  margin: 0;
}

.editIcon {
  position: absolute;
  top: 10px;
  right: 25px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid $Accent;
  color: $Accent;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  &:hover {
    color: $Secondary;
    background: $Accent;
  }
}

@media (max-width: 850px) {
  .card {
    width: 95%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem 0;
    grid-template-areas:
      "score state "
      "score watched"
      " comentary comentary";
  }
}
