@import "styles/theme.scss";

.container {
  width: 360px;
  padding: 10px;
}

.title {
  text-align: center;
  color: $Primary;
  margin: 0;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0 0.5rem;
  place-items: center;
  gap: 0.7rem;
}

.form_entry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.form_entry_big {
  @extend .form_entry;
  grid-column: span 3;
}
.textarea {
  height: 7rem;
  padding: 0.3rem;
  width: 100%;
  resize: none;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 8px 16px #00000010;
  color: $Paragraph;
  &::placeholder {
    color: $Accent;
    user-select: none;
  }
}
.label {
  color: $Primary;
  text-transform: capitalize;
}
.select {
  border: none;
  color: $Primary;
  padding: 0.2rem;
  border-radius: 5px;
  box-shadow: 4px 8px 16px #00000010;
  text-transform: capitalize;
}
.button {
  margin: 0.5rem;
  background: $Secondary;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid $Accent;
  color: $Accent;
  cursor: pointer;
  flex: 1;
  user-select: none;
  box-shadow: 4px 8px 16px #00000010;
  text-transform: capitalize;
  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  &:hover {
    color: $Secondary;
    border: 1px solid $Secondary;
    background: $Accent;
  }
}
.input {
  border: none;
  text-align: center;
  padding: 0.3rem 0;
  width: 3rem;
  border-radius: 5px;
  box-shadow: 4px 8px 16px #00000010;
  &::placeholder {
    text-align: center;
    color: $Accent;
    user-select: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
