:root {
  --Primary-Color: hsl(235, 70%, 60%);
  --Secondary-Color: hsl(210, 8%, 95%);
  --Accent-Color: hsl(200, 70%, 67%);
  --Paragraph-Color: #437;

  --Mobile-Breakpoint: 1200px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  min-height: 100vh;
  background-image: url("../public/Background.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
